snippet main "Basic main package" b
package main

import (
    "log"
)

var _ = log.Println

func main() {${0}
}
endsnippet

snippet todo "Todo item" b
// TODO: $1
endsnippet

snippet bug "Known bug item" b
// BUG($1): $2
endsnippet
